body {
    font-family:Helvetica, arial, sans-serif;
    color:#4d4d4d;
    background-color:#ccc;
    margin:0;
    padding:0;
}

/* Layout divs */

#container {
    background-color:#fafafa;
    margin:0 auto;
    width:1000px;
    height:auto;
    overflow:auto;
}
header {
    margin:0 auto;
    background-color:#4682b4;
}
header ul {
    margin:0;
    padding:0;
}
#logo {
    float:right;
}
article {
    margin:2%;
    padding:2%;
    width:50%;
    float:left;
    background-color:#fff;
    border:1px;
    border-style:solid;
    border-color:#708090;
}
aside {
    margin:2%;
    padding:2%;
    width:30%;
    height:auto;
    float:right;
    background-color:#fff;
    border:1px;
    border-style:solid;
    border-color:#708090;
}
footer {
    width:100%;
    background-color:#FFAF00;
    float:left;
}


/* Index specifikt */
.blogimage {
    width: 40%;
}
.blogvideo {
    width: 60%;
}
