body {
    font-family: Garamond, serif;
    color:#3C3C3E;
    background-color:#57575B;
    margin:0;
    padding:0;
}

/* Layout divs */
#container {
    background-color:#FEFEF3;
    margin:0 auto;
    width:1000px;
    height:auto;
    overflow:auto;
}
header {
    background-image:url(pics/black_paper.png);
    overflow:auto;
}
#logo {
    float:left;
    width:10em;
    padding-left:1.5%;
}
main {
    background-color:#FEFEF3;
    margin:2% 1% 2% 2%;
    width:57.8%;
    float:left;
}
aside {
    background-color:#FEFEF3;
    margin:2% 2% 2% 1%;
    width:35.2%;
    height:auto;
    float:right;
}
footer {
    width:100%;
    margin:0 auto;
    background-color:#ED7E00;
    float:left;
}
footer p {text-align: center }

/* Menu */
nav {margin:0; float:right;}
nav ul li {
    list-style-type:none;
    display:block;
    float:left;
    padding:0;
    margin-left:1em;
    margin-right:1em;
}
nav ul ul {display: none;}

nav .submenu:after {
   border: 0.3em solid transparent; 
   border-top-color: #FEFEF3;  
   content: ''; 
   vertical-align: bottom;
   display: inline-block;
   position: relative;
   right: -0.3em; 
}
nav li:hover ul {
	display: block;
	position: absolute;
	margin: 0;
	padding: 0.5em 0; }
nav li:hover li {clear:both;background-color: #3C3C3E;}

nav a {
    font: normal small-caps normal 1.1em/110% "Helvetica", "Arial", sans-serif; 
    color:#FEFEF3;
    text-decoration:none;
}
nav a:link {color:#FEFEF3;}
nav a:visited {color:#FEFEF3;}
nav a:hover {color:#689096;}
nav a:active {color:#ED7E00;}
nav #current {border-bottom:0.2em solid #FEFEF3;}

/* Content */
article {
    border:0.05em solid #57575B;
    padding:1%;
    margin-bottom:2%;
}
.icon
 { 
  margin: 0px;
  padding-left:5%;    
  background-image: url(pics/nl.svg);
  background-repeat: no-repeat;
  background-size:1.2em;

}
article img {width: 30%;}
article video {width: 90%;}
aside img {width: 60%;float:right;}


/* Typografi */
h1 {
    font: 900 normal 3.5em/110% "garamond", serif; 
    color:#689096;
    margin:4% 1% 1% 0;
    float:right;
}
h2, h3, h4 {font-family:"helvetica", "arial", sans-serif; margin-top:0;}

.author {
    font: italic normal 1.0em/100% "garamond", serif;
    padding:0.5em 0 3em 0;
    margin:0;
}

/* Table */
table {
    border-collapse:collapse
}
th, td {
    padding:0.5em;
}
tr {
    border-bottom: 1px solid #3C3C3E;
}
